.choose-button {
	text-align: center;
	background: url(button-image.png);
	font: bold 44px 微软雅黑;
}
.check-button {
	text-align: center;
	background: url(button-image.png);
	font: bold 20px 微软雅黑;
}
.input-style {
	margin: 0 auto;
	width: 70%;
	height: 100%;
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
	font: bold 20px 微软雅黑;
}
.text-style {
	text-align: center;
	margin: 20px auto;
	font: bold 20px 微软雅黑;
}
.back-style {
	background: url(main-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}